{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Manage_Assignment_Topic_Admin</title>

    <!-- Custom fonts for this template-->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="static/css/sb-admin-2.min.css" rel="stylesheet">

    <style>
        .a{background-color: rgb(137, 205, 255);}
        #tab{margin-left: 170px;
            width: auto;}
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Admin</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'a_home_admin' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Home</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'c_view_users_admin' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>View Users</span>
                </a> 
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Subjects</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'm_add_subjects_admin' %}">Add</a>
                        <a class="collapse-item" href="{% url 'n_manage_subjects_admin' %}">Manage</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="true" aria-controls="collapseThree">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Assignment Topic</span>
                </a>
                <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'o_add_assignment_topic_admin' %}">Add</a>
                        <a class="collapse-item" href="{% url 'p_manage_assignment_topic_admin' %}">Manage</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Functions
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'e_view_assignments_admin' %}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>View Assignments</span>
                </a>
            </li>

            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'f_check_plagiarism_admin' %}">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Check Plagiarism</span></a>
            </li>

            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'generate_report_admin' %}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Check Matching Content</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow bg-gradient-primary">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-info" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-white-600 small">Admin</span>
                                <img class="img-profile rounded-circle"
                                    src="static/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    <b>Logout</b>
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h2 style="text-align: center;color: black;"><b><u>Manage Assignment Topic</u></b></h2>
                    <div class="a">
                        <br>
                        <h3 style="text-align: center;color: black;"><b>Add Topic</b></h3><br>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label style="color: black; margin-left: 350px;margin-top: 10px;" for="topicname" class="control-label col-sm-3">Topic Name :</label>
                                <input style="margin-left: 500px; margin-top: -40px;" type="text" id="id1" class="form-control col-sm-3" placeholder="Assignment Topic name" name="topicname"><br>
                            </div>
                            <div class="form-group">
                                <label style="color: black; margin-left: 350px;" for="id2" class="control-label col-sm-5">Subject Name :</label>
                                <select id="id2" class="form-control col-sm-2" style="font-size: 13px; padding-top: 4px;margin-left: 500px; margin-top: -40px;">
                                </select><br>
                            </div>
                            <div class="form-group">
                                <label style="color: black; margin-left: 350px;margin-top: 10px;" for="date" class="control-label col-sm-3">Last Date :</label>
                                <input style="margin-left: 500px; margin-top: -40px;" type="date" id="id3" class="form-control col-sm-3" name="date"><br>
                            </div>
                        </form>
                        <button style="margin-left: 500px;" type="button" id="b1" class="btn btn-success">Add</button><br><br>

                    </div><br><br>
                    <table id="tab" class="table table-bordered">
                    </table><br><br>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="bg-gradient-primary" >
                <div class="container" style="height: 30px;">
                    <div class="copyright text-center" style="color:white;">
                        <span>Contact us</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'display_login' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>



    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="static/js/demo/chart-area-demo.js"></script>
    <script src="static/js/demo/chart-pie-demo.js"></script>


    <script  type="text/javascript">
        $(document).ready(function(){
            fun1()
            $.ajax({
                url:"/subjects/",
                datatype:"json",
                success:function(any)
                {
                    $("#id2").empty();
                    $("#id2").append("<option>Select</option>");
                    for(var i=0;i<any.key.length;i++)
                    {
                        $("#id2").append("<option value='"+any.key[i].fields.subject_name+"'>"+any.key[i].fields.subject_name+"</option>")
                    }
                }
            })

            $("#b1").click(function(){
                topic_name=$("#id1").val()
                subject_name=$("#id2").val()
                last_date=$("#id3").val()
                if ((topic_name=='')||(subject_name=='Select'))
                {
                    alert("fill all fields");
                }
                else
                {
                    $.ajax({
                        url:"/add_assignment_topic/",
                        datatype:"json",
                        data:{
                            "tname":topic_name,
                            "sname":subject_name,
                            "ldate":last_date,
                        },
                        success:function(any)
                        {
                            alert(any);
                            window.location.assign("{% url 'p_manage_assignment_topic_admin' %}");
                        }
                    })
                }
            })
            function fun1()
            {
                $.ajax({
                    url:"/topics/",
                    datatype:"json",
                    success:function(any)
                    {
                        $("#tab").empty()
                        var tr1=$("<tr/>");
                            tr1.append("<th>Topic Name</th>")
                            tr1.append("<th>Subject Name</th>")
                            tr1.append("<th>Final Date</th>")
                        $("#tab").append(tr1);
                        for(var i=0;i<any.key.length;i++)
                        {
                            var r1=$("<tr/>");
                            r1.append("<td><input type='hidden' class='class1' value='"+any.key[i].pk+"'><input type='text' class='class2' value='"+any.key[i].fields.topic_name+"'</td>");
                            r1.append("<td><input type='text' class='class3' value='"+any.key[i].fields.subject_name+"'</td>");
                            r1.append("<td><input type='hidden' class='class4' value='"+any.key[i].fields.last_date+"'>"+any.key[i].fields.last_date+"</td>");
                            r1.append("<td><button type='button' class='btn btn-primary class5'>EDIT</button></td>");
                            r1.append("<td><button type='button' class='btn btn-danger class6'>DELETE</button></td>");
                        $("#tab").append(r1);
                        }
                    }
                })
            }
            $(document).on("click",".class5",function(){
                var row=$(this).closest("tr")
                var topic_id=row.find(".class1").val()
                var topic_name=row.find(".class2").val()
                var subject_name=row.find(".class3").val()
                $.ajax({
                    url:"/topic_edit/",
                    datatype:"json",
                    data:{
                        "t_id":topic_id,
                        "t_name":topic_name,
                        "s_name":subject_name,
                    },
                    success:function(any)
                    {
                        alert(any);
                        fun1()
                    }
                })
            })
            $(document).on("click",".class6",function(){
                var row=$(this).closest("tr")
                var topic_id=row.find(".class1").val()
                $.ajax({
                    url:"/topic_delete/",
                    datatype:"json",
                    data:{
                        "t_id":topic_id,
                    },
                    success:function(any)
                    {
                        alert(any);
                        fun1()
                    }
                })
            
            })
        
        })
    </script>

</body>

</html>